html {
  height: 100%;
}

font-face {
  font-family: 'digital-7';
  src: url("https://www.1001fonts.com/digital-7-font.html");
}

body {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'digital-7', regular;
  margin: auto;
  width:50%
  padding: 10px;

}

canvas {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
 
}


h1 {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

p {
  font-size: 18px;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
