html {
  height: 100%;
}

font-face {
  font-family: 'digital-7';
  src: url("https://www.1001fonts.com/digital-7-font.html");
}

body {
  background-color: black;
  color: white;
  font-family: 'digital-7', regular;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


h1 {
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
}
